<!doctype html>
<html lang="en" ng-app id="ng-app">
<link rel="stylesheet" href="CSS/simple.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<script src="JS/angular.js"></script>
<script src="JS/admin.js"></script>
<script src="JS/jquery-2.1.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<body>
    <div id="container">
        <div id="header">
            <h1>Farel</h1>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="../../index.html">Overview</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin panel<b
                                class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../admin_add.html">Add project</a></li>
                                <li><a href="../../admin_manage.html">Manage projects</a></li>
                                <li class="divider"></li>
                                <li><a href="../../admin_add_services.html">Add service</a></li>
                                <li><a href="../../admin_manage_services.html">Manage services</a></li>
                            </ul></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div id="ng-app" ng-app ng-controller="ServiceController">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Service Type</th>
                    <th>Address</th>
                    <th>Rest Endpoint</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="element in serviceList">
                    <td data-title="'Name'">{{element.name}}</td>
                    <td data-title="'ServiceType'">{{element.serviceType}}</td>
                    <td data-title="'Address'">{{element.address}}</td>
                    <td data-title="'RestEndPoint'">{{element.restEndPoint}}</td>
                    <td data-title="'Save'"><button ng-click="edit(element)">EDIT</button></td>
                    <td data-title="'Delete'"><button ng-click="remove(element)" data-toggle="modal" data-target="#myModal">DELETE</button></td>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are you sure? <br>
                                    <button data-dismiss="modal">Cancel</button>
                                    <button ng-click="continueRemoval()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
            </table>
        </div>
        <div id="footer">Copyright UW, 2014</div>
    </div>
</body>
</html>
