<!doctype html>
<html lang="en" ng-app id="ng-app">
<head>
<script src="JS/angular.js"></script>
<script src="JS/opsview.js"></script>
<body>
    <div id="ng-app" ng-app ng-controller="PostsCtrlAjax">
        <div ng-repeat="jsonElem in list">
            <div ng-repeat="entry in jsonElem">
                <div ng-repeat="service in entry.services">
                    <div ng-repeat="(serviceKey, serviceValue) in service">{{serviceKey}} {{serviceValue}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>